/* 
    Document   : style
    Created on : Feb 26, 2013, 12:24:58 PM
    Author     : Pete
    Description:
        Purpose of the stylesheet follows.
*/

/*
Palatte:

#0f0f0f - dk grey
#1e1e1e - grey
#dd69d85 - beige
#569cd6 - blue
#608b4e - green
#68217a - purple
#ffffff - white


*/

@font-face {
    font-family: inconsolata;
    src: local(inconsolata), url('fonts/inconsolata.otf') format('opentype');
}

root { 
    display: block;    
}

html {
    background-color: #0f0f0f;
    font-family: inconsolata;
    color: #ffffff;
}

body {
    width: auto;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 3em;
    background-color: #1e1e1e;
}

a {
    color: #569cd6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*
a:visited {
    color: #68217a;
}*/

#logo {
    padding-bottom: 3em;
}

#logo a {
    color: #608b4e;
    font-size: 2em;
}

.nav {
    display: inline-block;
    width: 100%;
    background-color: #0f0f0f;
    padding: .2em;
}

.nav li a {
    font-size: 1em;
    float: left;
    display: block;
    padding-right: 1em;
}

#content {
    padding: 2em;
}

#content h1 {
    font-size: 2em;
    padding: .2em;
    text-align: center;
}

#content h2 {
    font-size: 1.5em;
    font-style: italic;
    padding: .5em 0em;
    clear: both;
}

/* Resume specific */

#contact {
    margin: 0 auto;
    text-align: center;
}

#contact li{
    display: inline-block;
    padding: .3em 1em;
}

#tech_left {
    float:left;
    margin-left: 3em;
}

#tech_right {
    float: right;
    margin-right: 3em;
}

/* end resume */

#content ul {
    padding: 0 1em;
}

#content ul li {
    list-style: square;
    padding-top: .1em;
}

#content ul li li {
    list-style: circle;
    margin-left: .5em;
}

#contact_form label{
    display: block;
}

#contact_form .error {
    float: right;
    color: #68217a;
}

#copyright {
    text-align: center;
    padding: .5em;
}

