/* 
    Document   : style
    Created on : Feb 26, 2013, 12:24:58 PM
    Author     : Pete
    Description:
        Purpose of the stylesheet follows.
*/

/*
Palatte:

#0f0f0f - dk grey
#1e1e1e - grey
#d69d85 - beige
#569cd6 - blue
#608b4e - green
#68217a - purple
#ffffff - white


*/

/*
@font-face {
    font-family: inconsolata;
    src: local(inconsolata), url('fonts/inconsolata.otf') format('opentype');
}*/

root { 
    display: block;    
}

html {
    background-color: #0f0f0f;
    font-family: 'Inconsolata';
    color: #ffffff;
}

body {
    width: auto;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 3em;
    background-color: #1e1e1e;
}

#pdizz a {
    color: #569cd6;
    text-decoration: none;
}

#pdizz a:hover {
    text-decoration: underline;
}
/*
a:visited {
    color: #68217a;
}*/

#pdizz #logo {
    padding-bottom: 3em;
}

#pdizz #logo a {
    color: #608b4e;
    font-size: 2em;
}

#pdizz .nav {
    display: inline-block;
    width: 100%;
    background-color: #0f0f0f;
    padding: .2em;
}

#pdizz .nav li a {
    font-size: 1em;
    float: left;
    display: block;
    padding-right: 1em;
}

#pdizz #message {
    text-align: center;
    color: #d69d85;
    /*
    font-size: 1.5em;
    text-align: center;
    color: #d69d85;
    background-color: #0f0f0f;
    position: fixed;
    width: 50%;
    top: 50%;
    left: 0;
    */
}

#pdizz #content {
    padding: 2em;
}

#pdizz #content h1 {
    font-size: 2em;
    padding: .2em;
    text-align: center;
}

#pdizz #content h2 {
    font-size: 1.5em;
    font-style: italic;
    padding: .5em 0em;
    clear: both;
}

#pdizz #content p {
    text-indent: 2em;
    margin: .5em 0; 
}

#pdizz #content ul {
    padding: 1em;
    color: #d69d85;
}

#pdizz #content ul li {
    list-style: square;
    padding-top: .1em;
    color: #ffffff;
}

#pdizz #content ul li li {
    list-style: circle;
    margin-left: .5em;
    font-size: 1em;
}

/* Resume specific */

#pdizz #contact {
    margin: 0 auto;
    text-align: center;
}

#pdizz #contact li{
    display: inline-block;
    padding: .3em 1em;
}

#pdizz #tech_left {
    float:left;
    margin-left: 3em;
}

#pdizz #tech_right {
    float: right;
    margin-right: 3em;
}

/* end resume */

#pdizz #contact_form label{
    display: block;
}

#pdizz #contact_form input {
    display: block;
}

#pdizz #contact_form .error {
    float: right;
    color: #68217a;
}

#pdizz #copyright {
    text-align: center;
    padding: .5em;
}

#pdizz #source_code {
    margin: 2em;
    padding: .5em;
    color: #d69d85;
    background-color: #0f0f0f;
    border: 1px solid #d69d85;
}

#pdizz .slide_toggle_box {
    display: none;
    text-wrap: normal;
    overflow: auto;
}

